@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 300;
}

h2 {
    font-size: 30px;
   
}

nav ol {
    font-size: 20px;
}

.contact h2,
.address h2 {
    font-size: 40px;
    font-weight: 300;
}

.contact_info p {
    font-size: 18px;
    font-weight: 400;
}

.contact_info h3 {
    font-size: 25px;
    font-weight: 500;
}

.modal p {
    font-size: 35px;
    font-weight: 700;
}

.card_item a {
    font-family: inherit;
}

form input:not(.checkbox),
select {
    font-family: inherit;
    font-size: 16px;
}

.input_box p {
    font-size: 16px;
}

.prise {
    font-size: 25px;
    font-weight: 700;
}

.btn_buy {
    font-size: 20px;
    font-family: inherit;
    font-weight: 700;
}

.modal p {
    font-size: 35px;
    font-weight: 700;
}

.about_block {
    font-size: 18px;
    font-weight: 500;
}

.about_block p:first-child {
    font-size: 22px;
    font-weight: 700;
}

.contact h2,
.address h2 {
    font-size: 40px;
    font-weight: 300;
}

.contact_info p {
    font-size: 18px;
    font-weight: 400;
}

.contact_info h3 {
    font-size: 25px;
    font-weight: 500;
}

.products_info {
    font-size: 70px;
    font-weight: 300;
}

.card_prise {
    font-size: 20px;
    font-weight: 700;
}

.card_title {
    font-size: 25px;
}

.add_product_form textarea {
    font-family: inherit;
    font-size: 14px;
}

.btn_Remove {
    font-family: inherit;
}