include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
    +head("Sign in")
    body
        .wrapper
            header 
                +nav
            .content.page_404
                .page_box 
                    h1(class="page404") 404 page not found :(
                    p It looks like something went wrong ...
<<<<<<< HEAD
                    a(href="/") Go to home page "GO HOME:)"
=======
                    a(href="/") Go to home page "GO HOME :) next time "
>>>>>>> 5ece6c6e4ed7819d7502aad8235d93603be4ae1f
            +footer
        script(src="/js/index.js")         