include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
    +head("Pho Apparel E-shop")
    body
        .wrapper
            header 
                +nav
            .content
                .news
                    .container
                        main 
                            h1 Sales 
                                span up to 70%
                .section
                    .container
                        h2 Products
                        .cards_wrapper
                            - for (var i = 0; i < 6; i++)
                                .card_item
                                    img.card_image(src=products[i].imgurl alt="")
                                    .card_body
                                        h3(class ="card_title") #{products[i].title}
                                        p(class ="card_prise") #{products[i].prise}$
                                        p #{products[i].desc}
                                        .card_wrapper
                                            a(href="/product/" + products[i].prodId) Learn more
                                            a(href="") Add to card
            +footer
        script(src="./js/index.js")             